
 header{
    background-color: aqua;
    opacity: 100%;
 }


 /* ============ HOME ================ */
.home {
    /* background-color: paleturquoise; */
    background-image: url(../images/annie-spratt-unsplash.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
}

.home .content-wrapper {
    background-color: rgb(255 255 255 / 0.9);
}

.btn {
    background-color: orange;
    font-size: 25px;
}

/* ==== FOOTER =-======== */
footer {
    background-color: #222;
    color: #d3d4d6;
}

a {
    color: #3c8453;
}

a:hover {
    color: #bcaa95;
    text-decoration: none;
}
